<!--Homepage-->

<!DOCTYPE html>
<head>
    <title>Welcome to our website</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo">Garden Guys</h1>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#tutorials">Tutorials</a></li>
                <li><a href="#seasons">What's In Season?</a></li>
                <li><a href="#subscribe" class="subscribe-btn">Subscribe</a></li>
            </ul>
        </nav>
    </header>

    <div id="content">
        <section id="home">
            <img src="gardener.jpg" alt="A gardener working in the garden">
            <h2>Welcome to Garden Guys!</h2>
            <p>We are a small, family run business based in Northampton. We specialise in growing all manner of plants and flowers</p>
        </section>
    </div>


</body>

<footer>
    
</footer>

</html>
