<!--IP Location Page-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Find IP Zip Code</title>
<script src="script.js" defer></script>
</head>
<style>
    h1 {
        text-align: center;
    }

</style>
<body>
    <h1>CYBER TOOLS</h1>
<h2>Enter IP Address to Find its Zip Code</h2>
<form id="ipForm">
    <input type="text" id="ipAddress" placeholder="Enter IP Address" required>
    <button type="submit">Find Zip Code</button>
</form>
<p> </p>
<div id="result"></div>
</body>
</html>