<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Cyber Tools Sign in Page </title>
</head>
<body>
	<h1> Welcome to the Cyber Tools Please Insert Your Information to Sign in</h1>
	<form acction="" method="POST" enctype="multipart/form-data">
	<div> 
	<label for="fullname">Full Name</label>
	<input type="text" id="fullname" name="fullname" required>
	</div>
	<div>
	<label for="email">Email</label>
	<input type="text" id="email" name="email" required>	
	</div>
	<div>
	<label for="phone">Phone Number</label>
	<input type="text" id="phone" name="phone">
	</div>
	<div>
	<label for="username">Username</label>
	<input type="username" id="username" name="username" required>	
	</div>
	<div>
	<label for="password">Password</label>
	<input type="password" id="password" name="password" required>
	</div>

    <a href="login.html"> login Page</a>
    
</body>
</html>
