

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" href="prodstyles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo">Garden Guys</h1>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="Blog.html">Blog</a></li>
                <li><a href="tutorial-mainpage.html">Tutorials</a></li>
                <li><a href="checkout.html">My Cart</a></li>  
            </ul>
        </nav>
        
    </header>

    <main class="product-container">
        <div class="product-image">
            <img id="productImage" src="" alt="Product Image">
        </div>
        <div class="product-details">
            <h1 id="productName"></h1>
            <p id="productPrice"></p>
            <p id="productRating"></p>
            <p id="productDescription"></p>
            <!-- Additional product details here -->
            <p><label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1"></p>
                <button id="addToCart">Add to Cart</button>
        </div>
    </main>

    <script src="productscript.js"></script>
</body>
</html>