/* Styles.css */



body {
    background-color: #333;
}

h1 {
    text-align: center;
    /*color: #ddd;*/
    color: #59a86a;
}

h2 {
    color: #59a86a;
}

h3 {
    color: #73ad21;
    margin-top: 0px;
    text-align: center;
    padding-top: 5px;
}

p {
    color: #59a86a;
}




/* Styles.css */

/* Reset default list styles and use flexbox */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around; /* This will distribute space around items */
    padding: 0;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex; /* Use flexbox to distribute space */
    width: 100%; /* Make the ul take up the full width of the navbar */
    margin: 0;
    padding: 0;
}

.nav-links li {
    flex: 1; /* Each li element will take up equal space */
    text-align: center; /* Center the text inside each li */
}

/* Remove default link styles */
.nav-links a {
    text-decoration: none;
    color: #f2ecec;
    display: block; /* Block display to fill the li */
    padding: 0.5rem 1rem; /* Add padding for clickable area and visual spacing */
}

/* Change background color on hover for visual effect */
.nav-links a:hover {
    background-color: #56c80f;
}

/* Active page styling */
.nav-links a.active {
    background-color: #333;
    color: white;
}
