<!--This Page will basically have a good looking list of of all the tools for which the sites provides-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tools </title>

    </head>
    <body>
        <nav class="container-fluid">
            <ul>
                <li><strong>CyberTools</strong></li>
            </ul>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="tools.html">Tools</a></li>
                <li><a href="#" role="button">Subscribe</a></li>
            </ul>
        </nav>

    </body>
</html>